<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
  <meta name="og:type" content="website" />
  <meta name="twitter:card" content="photo" />
  <link rel="stylesheet" type="text/css" href="../css/admin.css" />
  <link rel="stylesheet" type="text/css" href="../css/styleguide.css" />
  <link rel="stylesheet" type="text/css" href="../css/globals.css" />
</head>

<body style="margin: 0; background: #ffffff">
  <input type="hidden" id="anPageName" name="page" value="page" />
  <div class="page screen">
    <div class="top-bar">
      <div class="rectangle-4137"></div>
      <div class="title-6 title-8">Siuu CMS</div>
      <div class="navbar roboto-normal-black-16px">
        <div class="navbar-link-tab">Home</div>
        <div class="navbar-link-tab">Chore Management</div>
        <div class="navbar-link-tab">Assign Chore</div>
        <div class="navbar-link-tab">Manage Assignments</div>
      </div>
    </div>
    <div class="section-1 section-2">
      <div class="container container-2">
        <h1 class="title-7 title-8">Welcome to Chore Management System!</h1>
        <p class="description description-3">Here you can track and manage chores easily.</p>
      </div>
      <img class="vector-200" src="../img/vector-200-8.png" alt="Vector 200" />
    </div>
    <div class="section-2">
      <div class="container-1 container-2">
        <div class="title title-8 roboto-bold-black-40px">Chore Statistics</div>
        <div class="list-1 list-2">
          <div class="list-item list-2">
            <div class="article">
              <div class="image-container">
                <div class="image"></div>
              </div>
              <div class="frame-427318906 frame-1">
                <div class="title-1 title-8 roboto-medium-black-20px">All Chores</div>
                <div class="subtitle-1 subtitle-9 roboto-normal-black-16px">25</div>
                <div class="selection selection-2">
                  <div class="label-normal-1">
                    <div class="label-text roboto-normal-black-12px">total</div>
                  </div>
                </div>
                <div class="user">
                  <div class="icon-buttons roboto-normal-black-16px">
                    <div class="icon valign-text-middle">✏️</div>
                    <div class="icon valign-text-middle">❌</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-item list-2">
            <div class="article">
              <div class="image-container">
                <div class="image"></div>
              </div>
              <div class="frame-427318906 frame-1">
                <div class="title-1 title-8 roboto-medium-black-20px">In Progress</div>
                <div class="subtitle-2 subtitle-9 roboto-normal-black-16px">10</div>
                <div class="selection selection-2">
                  <div class="label-normal">
                    <div class="label-text roboto-normal-black-12px">in-progress</div>
                  </div>
                </div>
                <div class="user">
                  <div class="icon-buttons roboto-normal-black-16px">
                    <div class="icon valign-text-middle">✏️</div>
                    <div class="icon valign-text-middle">❌</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-item list-2">
            <div class="article">
              <div class="image-container">
                <div class="image"></div>
              </div>
              <div class="frame-427318906 frame-1">
                <div class="title-1 title-8 roboto-medium-black-20px">Incomplete</div>
                <div class="subtitle-3 subtitle-9 roboto-normal-black-16px">5</div>
                <div class="selection selection-2">
                  <div class="label-normal">
                    <div class="label-text roboto-normal-black-12px">incomplete</div>
                  </div>
                </div>
                <div class="user">
                  <div class="icon-buttons roboto-normal-black-16px">
                    <div class="icon valign-text-middle">✏️</div>
                    <div class="icon valign-text-middle">❌</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-item list-2">
            <div class="article">
              <div class="image-container">
                <div class="image"></div>
              </div>
              <div class="frame-427318906 frame-1">
                <div class="title-1 title-8 roboto-medium-black-20px">Completed</div>
                <div class="subtitle-4 subtitle-9 roboto-normal-black-16px">10</div>
                <div class="selection selection-2">
                  <div class="label-normal">
                    <div class="label-text roboto-normal-black-12px">completed</div>
                  </div>
                </div>
                <div class="user">
                  <div class="icon-buttons roboto-normal-black-16px">
                    <div class="icon valign-text-middle">✏️</div>
                    <div class="icon valign-text-middle">❌</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image-container-2 image-container-3">
        <div class="image-1"></div>
      </div>
      <img class="vector-200" src="..img/vector-200-8.png" alt="Vector 200" />
    </div>
    <div class="section-2">
      <div class="container container-2">
        <div class="title-2 title-8 roboto-bold-black-40px">Create New Chore</div>
        <div class="input">
          <div class="title-3 title-8 roboto-medium-black-14px">Chore Name</div>
          <div class="textfield">
            <div class="text text-2 roboto-normal-black-14px-2">Enter chore name</div>
          </div>
        </div>
        <div class="input">
          <div class="title-3 title-8 roboto-medium-black-14px">Due Date</div>
          <div class="textfield">
            <div class="text text-2 roboto-normal-black-14px-2">YYYY-MM-DD</div>
          </div>
          <p class="info">Please select a due date</p>
        </div>
        <div class="button">
          <div class="seconday">
            <div class="title-4 title-8">Reset</div>
          </div>
          <div class="primary">
            <div class="title-5 title-8">Create</div>
          </div>
        </div>
      </div>
      <img class="vector-200" src="../img/vector-200-8.png" alt="Vector 200" />
    </div>
    <div class="section-2">
      <div class="image-container-1 image-container-3">
        <div class="image-1"></div>
      </div>
      <div class="container-1 container-2">
        <div class="title title-8 roboto-bold-black-40px">Chore List</div>
        <p class="description-1 description-3 roboto-normal-black-16px">
          Here is a list of all created chores on the system.
        </p>
        <div class="list list-2">
          <div class="item">
            <div class="frame frame-1">
              <div class="icon-1 valign-text-middle roboto-normal-black-37-5px">📝</div>
            </div>
            <div class="frame-427318906-1">
              <div class="title-1 title-8 roboto-normal-black-20px">Chore 1</div>
              <div class="subtitle-5 subtitle-9 roboto-normal-black-16px-2">Assigned to: elikem asudo</div>
            </div>
            <div class="subtitle subtitle-9 roboto-medium-black-20px">Due Date: 2021-12-31</div>
            <img class="vector-200" src="../img/vector-200-7.png" alt="Vector 200" />
          </div>
          <div class="item">
            <div class="frame frame-1">
              <div class="icon-1 valign-text-middle roboto-normal-black-37-5px">📝</div>
            </div>
            <div class="frame-427318906-1">
              <div class="title-1 title-8 roboto-normal-black-20px">Chore 2</div>
              <div class="subtitle-6 subtitle-9 roboto-normal-black-16px-2">Assigned to: tsatsu gale-zoyiku</div>
            </div>
            <div class="subtitle subtitle-9 roboto-medium-black-20px">Due Date: 2022-01-15</div>
            <img class="vector-200" src="../img/vector-200-7.png" alt="Vector 200" />
          </div>
        </div>
      </div>
      <img class="vector-200" src="../img/vector-200-8.png" alt="Vector 200" />
    </div>
    <div class="section-2">
      <div class="container container-2">
        <div class="title-2 title-8 roboto-bold-black-40px">Assign Chore</div>
        <div class="selection-1 selection-2">
          <div class="title-3 title-8 roboto-medium-black-14px">Assign Person</div>
          <div class="chip-group chip-1">
            <div class="chip chip-1">
              <div class="text-1 text-2 roboto-normal-black-14px">elikem asudo</div>
            </div>
            <div class="chip chip-1">
              <div class="text-1 text-2 roboto-normal-black-14px">tsatsu gale-zoyiku</div>
            </div>
            <div class="chip chip-1">
              <div class="text-1 text-2 roboto-normal-black-14px">oj gale</div>
            </div>
          </div>
        </div>
        <div class="selection-1 selection-2">
          <div class="title-3 title-8 roboto-medium-black-14px">Assign Chore</div>
          <div class="chip-group chip-1">
            <div class="chip chip-1">
              <div class="text-1 text-2 roboto-normal-black-14px">Chore 1</div>
            </div>
            <div class="chip chip-1">
              <div class="text-1 text-2 roboto-normal-black-14px">Chore 2</div>
            </div>
            <div class="chip chip-1">
              <div class="text-1 text-2 roboto-normal-black-14px">Chore 3</div>
            </div>
          </div>
        </div>
        <div class="input">
          <div class="title-3 title-8 roboto-medium-black-14px">Due Date</div>
          <div class="textfield">
            <div class="text text-2 roboto-normal-black-14px-2">YYYY-MM-DD</div>
          </div>
          <p class="info">Please select a due date</p>
        </div>
        <div class="button">
          <div class="seconday">
            <div class="title-4 title-8">Reset</div>
          </div>
          <div class="primary">
            <div class="title-5 title-8">Assign</div>
          </div>
        </div>
      </div>
      <img class="vector-200" src="../img/vector-200-8.png" alt="Vector 200" />
    </div>
    <div class="section-2">
      <div class="container-1 container-2">
        <div class="title title-8 roboto-bold-black-40px">Chores Assigned</div>
        <p class="description-2 description-3 roboto-normal-black-16px">Here is a list of all assigned chores.</p>
        <div class="list list-2">
          <div class="item">
            <div class="frame frame-1">
              <div class="icon-1 valign-text-middle roboto-normal-black-37-5px">📝</div>
            </div>
            <div class="frame-427318906-1">
              <div class="title-1 title-8 roboto-normal-black-20px">Chore 1</div>
              <div class="subtitle-7 subtitle-9 roboto-normal-black-16px-2">Assigned to: elikem asudo</div>
            </div>
            <div class="subtitle subtitle-9 roboto-medium-black-20px">Due Date: 2021-12-31</div>
            <img class="vector-200" src="../img/vector-200-7.png" alt="Vector 200" />
          </div>
          <div class="item">
            <div class="frame frame-1">
              <div class="icon-1 valign-text-middle roboto-normal-black-37-5px">📝</div>
            </div>
            <div class="frame-427318906-1">
              <div class="title-1 title-8 roboto-normal-black-20px">Chore 2</div>
              <div class="subtitle-8 subtitle-9 roboto-normal-black-16px-2">Assigned to: tsatsu gale-zoyiku</div>
            </div>
            <div class="subtitle subtitle-9 roboto-medium-black-20px">Due Date: 2022-01-15</div>
            <img class="vector-200" src="../img/vector-200-7.png" alt="Vector 200" />
          </div>
        </div>
      </div>
      <div class="image-container-1 image-container-3">
        <div class="image-1"></div>
      </div>
      <img class="vector-200" src="../img/vector-200-8.png" alt="Vector 200" />
    </div>
  </div>
</body>

</html>