<!DOCTYPE html>
<html lang="en-gb">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
  <meta name="og:type" content="website" />
  <meta name="twitter:card" content="photo" />
  <link rel="stylesheet" type="text/css" href="../css/manage-chores-user.css" />
  <link rel="stylesheet" type="text/css" href="../css/styleguide.css" />
  <link rel="stylesheet" type="text/css" href="../css/globals.css" />
  <title>Manage Chores</title>
</head>

<body style="margin: 0; background: #ffffff">
  <div class="work-in-progress-banner">
    <p class="banner-text">Work in Progress</p>
  </div>
  <input type="hidden" id="anPageName" name="page" value="manage-chores-user" />
  <div class="manage-chores-user roboto-normal-black-62-5px screen">
    <div class="top-bar">
      <div class="rectangle-4137"></div>
      <div class="title-5 title-7 roboto-medium-black-28px">Siuu CMS</div>
      <div class="navigation">
        <div class="navigation-item roboto-normal-black-16px">Home</div>
        <div class="navigation-item roboto-normal-black-16px">Tasks</div>
        <a href="../welcome-page-users.html">
          <div class="tab roboto-normal-black-16px">Profile</div>
        </a>
        <div class="textfield">
          <div class="text roboto-normal-black-14px">Search in site</div>
          <img class="ic-search" src="../img/ic-search@2x.png" alt="ic-search" />
        </div>
      </div>
    </div>
    <div class="sidebar">
      <div class="item">
        <div class="frame">
          <div class="icon valign-text-middle roboto-normal-black-15px">🛖</div>
        </div>
        <div class="title roboto-medium-black-16px">Home</div>
      </div>
      <div class="item">
        <div class="frame">
          <div class="icon valign-text-middle roboto-normal-black-15px">📅</div>
        </div>
        <div class="title roboto-medium-black-16px">Tasks</div>
      </div>
      <div class="item">
        <div class="frame">
          <div class="icon valign-text-middle roboto-normal-black-15px">👤</div>
        </div>
        <div class="title roboto-medium-black-16px">Profile</div>
      </div>
    </div>
    <div class="section">
      <div class="container-1">
        <h1 class="title-6 title-7 roboto-bold-black-40px">Manage Chores</h1>
        <p class="description roboto-normal-black-16px">Track and update your chore assignments</p>
        <div class="button">
          <div class="seconday">
            <div class="title-1 title-7 roboto-medium-black-16px">Filter</div>
          </div>
          <div class="primary">
            <div class="title-1 title-7 roboto-medium-white-16px">Add Chore</div>
          </div>
        </div>
        <div class="tab-group">
          <div class="tab-group-item">
            <div class="title-2 valign-text-middle title-7 roboto-normal-black-14px-2">Ongoing</div>
          </div>
          <div class="tab-group-item">
            <div class="title-2 valign-text-middle title-7 roboto-normal-black-14px-2">Completed</div>
          </div>
        </div>
      </div>
      <img class="vector-200" src="../img/vector-200.png" alt="Vector 200" />
    </div>
    <div class="section">
      <div class="container">
        <div class="title-3 title-7 roboto-bold-black-40px">Ongoing/Pending Chore Assignments</div>
      </div>
      <div class="list">
        <div class="item-1">
          <div class="frame-1 frame-2">
            <div class="icon-1 valign-text-middle">⚙️</div>
          </div>
          <div class="frame-427318906 frame-2">
            <div class="title-4 title-7 roboto-normal-black-20px">Clean the kitchen</div>
            <div class="subtitle roboto-normal-black-16px-2">Assigned by: Mum</div>
          </div>
        </div>
        <div class="item-1">
          <div class="frame-1 frame-2">
            <div class="icon-1 valign-text-middle">⚙️</div>
          </div>
          <div class="frame-427318906 frame-2">
            <div class="title-4 title-7 roboto-normal-black-20px">Mow the lawn</div>
            <div class="subtitle roboto-normal-black-16px-2">Assigned by: Dad</div>
          </div>
        </div>
      </div>
      <img class="vector-200" src="../img/vector-200.png" alt="Vector 200" />
    </div>
    <div class="section">
      <div class="container">
        <div class="title-3 title-7 roboto-bold-black-40px">Completed Chores</div>
      </div>
      <div class="list">
        <div class="item-1">
          <div class="frame-1 frame-2">
            <div class="icon-1 valign-text-middle">⚙️</div>
          </div>
          <div class="frame-427318906 frame-2">
            <div class="title-4 title-7 roboto-normal-black-20px">Take out the trash</div>
            <div class="subtitle roboto-normal-black-16px-2">Assigned by: Mum</div>
          </div>
        </div>
        <div class="item-1">
          <div class="frame-1 frame-2">
            <div class="icon-1 valign-text-middle">⚙️</div>
          </div>
          <div class="frame-427318906 frame-2">
            <div class="title-4 title-7 roboto-normal-black-20px">Wash the dishes</div>
            <div class="subtitle roboto-normal-black-16px-2">Assigned by: Mum</div>
          </div>
        </div>
      </div>
      <img class="vector-200" src="../img/vector-200.png" alt="Vector 200" />
    </div>
  </div>
</body>

</html>