<!DOCTYPE html>
<html lang="en-gb">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
  <meta name="og:type" content="website" />
  <meta name="twitter:card" content="photo" />
  <link rel="stylesheet" type="text/css" href="../css/welcome-page-users.css" />
  <link rel="stylesheet" type="text/css" href="../css/styleguide.css" />
  <link rel="stylesheet" type="text/css" href="../css/globals.css" />
  <title>Homepage</title>
</head>

<body style="margin: 0; background: #ffffff">
  <input type="hidden" id="anPageName" name="page" value="welcome-page-users" />
  <div class="welcome-page-users screen">
    <div class="top-bar">
      <div class="rectangle-4137"></div>
      <div class="title-2 title-6 roboto-medium-black-28px">Siuu CMS</div>
      <div class="navbar roboto-normal-black-16px">
        <div class="navbar-link-tab-3"><a href="../view/welcome-page-users.html">Home</a></div>
        <div class="navbar-link-tab-3"><a href="../view/manage-chores-user.html">Manage Chores</a></div>
        <div class="navbar-link-tab-3"><a href="../view/manage-chores-user.html">Chore Statistics</a></div>
        <div class="navbar-link-tab-3"><a href="./../login/logout_view.php">Logout</a></div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <h1 class="title roboto-bold-black-40px">Welcome, Elikem Asudo Tsatsu Gale-Zoyiku</h1>
        <div class="description roboto-normal-black-16px">Manage your chores efficiently</div>
        <div class="button">
          <div class="seconday">
            <div class="title-3 title-6 roboto-medium-black-16px">Chore Details</div>
          </div>
          <div class="primary"><a href="../manage-chores-user.html">
              <div class="title-4 title-6 roboto-medium-white-16px">View Assigned Chores</div>
            </a></div>
        </div>
      </div>
      <img class="vector-200" src="../img/vector-200-5.png" alt="Vector 200" />
    </div>
    <div class="section">
      <div class="container">
        <div class="title roboto-bold-black-40px">Chore Statistics</div>
        <div class="list">
          <div class="item" onclick="location.href='../manage-chores-user.html';" style="cursor: pointer;">
            <div class="frame">
              <div class="icon valign-text-middle roboto-normal-black-62-5px">🔨</div>
            </div>
            <div class="frame-427318906">
              <div class="title-1 title-6 roboto-normal-black-20px">In Progress</div>
            </div>
            <div class="subtitle roboto-medium-black-28px">20</div>
          </div>
          <div class="item" onclick="location.href='../manage-chores-user.html';" style="cursor: pointer;">
            <div class="frame">
              <div class="icon valign-text-middle roboto-normal-black-62-5px">❌</div>
            </div>
            <div class="frame-427318906">
              <div class="title-1 title-6 roboto-normal-black-20px">Incomplete</div>
            </div>
            <div class="subtitle roboto-medium-black-28px">14</div>
          </div>
          <div class="item" onclick="location.href='../manage-chores-user.html';" style="cursor: pointer;">
            <div class="frame">
              <div class="icon valign-text-middle roboto-normal-black-62-5px">✅</div>
            </div>
            <div class="frame-427318906">
              <div class="title-1 title-6 roboto-normal-black-20px">Completed</div>
            </div>
            <div class="subtitle roboto-medium-black-28px">18</div>
          </div>
        </div>
      </div>
      <img class="vector-200" src="../img/vector-200-5.png" alt="Vector 200" />
    </div>
    <div class="section">
      <div class="container-1">
        <div class="title-5 title-6 roboto-bold-black-40px">Recently Assigned Chores</div>
      </div>
      <div class="list-1">
        <div class="item-1">
          <div class="frame">
            <div class="icon valign-text-middle roboto-normal-black-62-5px">🧺</div>
          </div>
          <div class="frame-427318906">
            <div class="title-1 title-6 roboto-normal-black-20px">Laundry</div>
          </div>
        </div>
      </div>
      <img class="vector-200" src="../img/vector-200-5.png" alt="Vector 200" />
    </div>
  </div>
</body>

</html>